name: ubt_pbb
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^17.0.0
  responsive_builder: ^0.7.1
  flutter_screenutil: ^5.9.3
  flutter_secure_storage: ^9.2.4
  dio: ^5.9.0
  talker: ^5.1.3
  json_annotation: ^4.9.0
  freezed_annotation: ^3.1.0
  flutter_bloc: ^9.1.1
  get_it: ^9.1.1
  flutter_html: ^3.0.0
  flutter_math_fork: ^0.7.4
  cached_network_image: ^3.3.1
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  build_runner: ^2.10.4
  freezed: ^3.2.3
  json_serializable: ^6.11.2

flutter:

  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
